<div class="col">
    <div class="itembox"
        {% if item.markedForDeletion == true %}
        style="background-image: url({{ asset("/static/hidden_image.png") }})"
        {% elseif item.isMimeType(['image']) %}
        style="background-image: url({{ path('get_file_custom_url', {'customUrl': item.customUrl, 'fileExtension': item.originalExtension}) }})"
        {% elseif item.isMimeType(['video/webm']) %}
        style="background-image: url({{ asset("/static/webm_file.png") }})"
        {% elseif item.isMimeType(['audio']) %}
        style="background-image: url({{ asset("/static/audio_file.png") }})"
        {% else %} 
        style="background-image: url({{ asset("/static/generic_file.png") }})"
        {% endif %}
        >
        <div class="itembox-text" >
                <p>{{ item.originalName }}</p>
                <p>{{ item.getDate|date("Y-m-d h:i:s") }}</p>
        </div>
        <div class="itembox-hover">
            <div class="itembox-controls">
                <a href="{{ path('get_file_custom_url', {'customUrl': item.customUrl, 'fileExtension': item.originalExtension}) }}"><i class="fas fa-file-download"></i></a>
                <button data-deleteaction="del" data-deleteid="{{ item.id }}" data-toggle="tooltip" title="Delete" class="btn btn-danger" {% if item.markedForDeletion == true %}style="display:none"{% endif %}><i class="fas fa-trash"></i></button>
                <button data-deleteaction="undo" data-deleteid="{{ item.id }}" data-toggle="tooltip" title="Undelete" class="btn btn-warning"  {% if item.markedForDeletion == false %}style="display:none"{% endif %}><i class="fas fa-trash-restore"></i></button>
            </div>
        </div>
    </div>
</div>