<div class="col-sm-6 col-lg-4">
    <div class="itembox">
        <div class="itembox-img-container">
            <div class="itembox-img-container-in">
                {% if item.markedForDeletion == true %}
                    <img src="{{ asset("/static/hidden_image.png") }}">
                {% elseif item.isMimeType(['image']) %}
                    <img src="{{ path('get_file_custom_url', {'customUrl': item.customUrl, 'fileExtension': item.originalExtension}) }}">
                {% elseif item.isMimeType(['video/webm']) %}
                    <img src="{{ asset("/static/webm_file.png") }}">
                {% elseif item.isMimeType(['audio']) %}
                    <img src="{{ asset("/static/audio_file.png") }}">
                {% else %}
                    <img src="{{ asset("/static/generic_file.png") }}">
                {% endif %}
            </div>
        </div>
        <div class="itembox-text">
                                        <span>
                                            {{ item.originalName }} ({{ item.getFileSizeFormatted }})
                                        </span>
            <span>
                                            {{ item.getDate|date("d/m/Y h:i:s") }}
                                        </span>
        </div>
        <div class="itembox-controls">
            <a href="{{ path('get_file_custom_url', {'customUrl': item.customUrl, 'fileExtension': item.originalExtension}) }}"><i class="fas fa-file-download"></i></a>
            <button data-deleteaction="del" data-deleteid="{{ item.id }}" data-toggle="tooltip" title="Delete" class="btn btn-danger" {% if item.markedForDeletion == true %}style="display:none"{% endif %}><i class="fas fa-trash"></i></button>
            <button data-deleteaction="undo" data-deleteid="{{ item.id }}" data-toggle="tooltip" title="Undelete" class="btn btn-warning"  {% if item.markedForDeletion == false %}style="display:none"{% endif %}><i class="fas fa-trash-restore"></i></button>
        </div>
    </div>
</div>