{% extends 'manage_layout.html.twig' %}

{% block managecontent %}
    <div class="row pt-3">
        <div class="col-md-3">
            {% if dateTree is not empty %}
                <ul>
                    {% for year, monthdata in dateTree %}
                        <li>
                            {{ year }}
                            <ul>
                                {% for month, count in monthdata %}
                                    <li>
                                        {{ month }} - ({{ count }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-9">
            {% if pageData.files is not empty %}
                <div class="row">
                    <div id="navpanel">
                        <a class="btn btn-outline-primary" href="{{ path('cabinet_mypics', {'before': pageData.beforeId}) }}"><i class="fas fa-chevron-left"></i></a>
                        <a class="btn btn-outline-primary" href="{{ path('cabinet_mypics', {'after': pageData.afterId}) }}"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                {% for row in pageData.files|batch(3, null) %}
                    <div class="row">
                        {% for item in row if item %}
                            <div class="col-sm-6 col-lg-4">
                                <div class="itembox">
                                    <div class="itembox-img-container">
                                        <div class="itembox-img-container-in">
                                            {% if item.image.isMimeType(['image']) %}
                                                <img src="{{ path('get_file_custom_url', {'customUrl': item.image.customUrl, 'fileExtension': item.image.originalExtension}) }}">
                                            {% elseif item.image.isMimeType(['video/webm']) %}
                                                <img src="{{ asset("/static/webm_file.png") }}">
                                            {% elseif item.image.isMimeType(['audio']) %}
                                                <img src="{{ asset("/static/audio_file.png") }}">
                                            {% else %}
                                                <img src="{{ asset("/static/generic_file.png") }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="itembox-text">
                                        <span>
                                            {{ item.image.originalName }}
                                        </span>
                                        <span>
                                            {{ item.image.getDate|date("d/m/Y h:i:s") }}
                                        </span>
                                    </div>
                                    <div class="itembox-controls">
                                        <a href="{{ path('get_file_custom_url', {'customUrl': item.image.customUrl, 'fileExtension': item.image.originalExtension}) }}"><i class="fas fa-file-download"></i></a>
                                        <button data-deleteaction="del" data-deleteid="{{ item.image.id }}" data-toggle="tooltip" title="Delete" class="btn btn-danger" {% if item.image.markedForDeletion == true %}style="display:none"{% endif %}><i class="fas fa-trash"></i></button>
                                        <button data-deleteaction="undo" data-deleteid="{{ item.image.id }}" data-toggle="tooltip" title="Undelete" class="btn btn-warning"  {% if item.image.markedForDeletion == false %}style="display:none"{% endif %}><i class="fas fa-trash-restore"></i></button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                You have not uploaded anything yet.
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('manage_user') }}
{% endblock %}