{% extends 'manage_layout.html.twig' %}

{% block managecontent %}
    <div class="row pt-3">
        <div class="col-md-3">
            {% if dateTree is not empty %}
                <ul>
                    {% for year, monthdata in dateTree %}
                        <li>
                            {{ year }}
                            <ul>
                                {% for month, count in monthdata %}
                                    <li>
                                        {{ month }} - ({{ count }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-9">
            {% if pageData.files is not empty %}
                <div class="row">
                    <div id="navpanel">
                        {% set defaultParams = app.request.attributes.get('_route_params') | merge(app.request.query.all) %}
                        <a class="btn btn-outline-primary" href="{{ path(app.request.attributes.get('_route'), defaultParams | merge({'cursor': pageData.cursor})) }}"><i class="fas fa-chevron-right"></i></a>
                        <div class="float-right m-2">
                            <form id="order-form" class="form-inline" action="">
                                <label class="mr-sm-2" for="order-date">Upload date: </label>
                                <select name="order-date" class="custom-select mr-sm-2" id="order-date">
                                    <option hidden value="">Default</option>
                                    <option value="new">Newest</option>
                                    <option value="old">Oldest</option>
                                </select>
                                <label class="mr-sm-2" for="order-size">File size: </label>
                                <select name="order-size" class="custom-select mr-sm-2" id="order-size">
                                    <option hidden value="">Default</option>
                                    <option value="big">Big</option>
                                    <option value="small">Small</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Order</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% for row in pageData.files|batch(3, null) %}
                    <div class="row">
                        {% for item in row if item %}
                            {% include 'partials/control_panel_file.html.twig' with {'item': item.image} %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                You have not uploaded anything yet.
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('manage_user') }}
{% endblock %}